@model MetalBandBakery.MVC.Models.Recipe
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<table class="table">
    <tr>
        <td>@Model.ItemId</td>
        <td>Quantity</td>
        <td>Action</td>
        <td>
            Extra: @Html.TextBoxFor(model => Model.Extra)
        </td>
    </tr>

    @foreach (var ingredient in Model.Ingredients)
    {
        <tr>
            @*<td>
                    @ingredient.Key
                </td>
                <td>
                    @Html.EditorFor(model => model.Ingredients[ingredient.Key])
                </td>
                <td>
                    @Html.ActionLink("Save", "SetRecipeBake", "Recipe",
                    new
                    {
                        itemId = Model.ItemId,
                        ingredientId = ingredient.Key,
                        ingredientQuantity = Model.Ingredients[ingredient.Key],
                        extra = Model.Extra
                    }, new { @class = "btn btn-primary" })
                </td>*@
            @using (Html.BeginForm("SetRecipeBake", "Recipe", FormMethod.Post))
            {
                <fieldset>
                    <td>@Html.HiddenFor(model => model.ItemId)</td>
                    <td>@Html.TextBoxFor(model => ingredient.Key, new { @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(model => model.Ingredients[ingredient.Key])</td>
                    <td>@Html.HiddenFor(model => model.Extra)</td>

                    <td><input type="submit" value="Save" /></td>
                </fieldset>
            }
        </tr>
    }
</table>